.menu-front {
  background-color: #f2f2f2;
  padding: 10px 30px;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ccc;
}

.menu-front button {
  background-color: #fff;
  border: 1px solid #8b4513;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s;
}

.menu-front button:hover {
  background-color: #8b4513;
  color: #fff;
}
